.header {
  font-family: "Manrope", sans-serif;
  font-style: normal;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  height: 72px;
  box-shadow: 0px 1px 0px #e5e9f2;
}

.navbar__menu {
  display: flex;
  text-align: center;
  list-style: none;
  padding: 0px;
}

.navbar__item {
  padding-right: 32px;
}
.navbar__item-enlace {
  text-decoration: none;
  color: #18191f;
}

.navbar__image {
  display: flex;
  justify-content: center;
}

.navbar__image-enlace {
  margin-right: 12px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 0px #e5e9f2;
}

.header__content-title {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  padding-top: 50px;
}

.header__content-button {
  text-align: center;
  background: #8c30f5;
  color: #ffffff;
  width: 196px;
  height: 62px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
}

.header__content-image {
  padding: 80px 0px 0px 20px;
}

.header__content-midle-circle {
  background: #d6b1ff;
  z-index: -1;
  position: absolute;
  margin-top: 35.7rem;
  width: 800px;
  height: 250px;
  border-radius: 50% 50% 50% 50% / 100% 100% 0% 0%;
}

.header__logos {
  padding: 16px 0px 16px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logos-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
  border-top: 1px ridge;
  border-bottom: 1px ridge;
  border-color: #e5e9f2;
}
